/* Main style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Navbar stylying */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    color: #f4f4f4;
    text-decoration: none;
    display: flex;
    margin: 25px;

}

.navbar h1 {
    font-size: 2rem;
}

.navbar h1 span {
    color: #28a745;
}

.navbar ul li a:hover {
    cursor: pointer;
    color: #28a745;
    padding-top: 5px;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f4f4f4;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-text {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
    padding: 20px;
}

.hero a {
    text-decoration: none;
    color: #f4f4f4;
}

.header-section {
    background-image: url('../image_resources/home/showcase.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    /* max-width: 100%; */
}


.white-bg {
    margin: 30px;
    display: flex;
    padding-top: 30px;
    padding-left: 10px;
    text-align: center;
}

.white-bg h3 {
    padding: 10px;
}

.white-bg p {
    padding: 10px;
    font-size: large;
    line-height: 30px;
}

.solution {
    display: flex;
}

.solution .people {
    background-image: url('../image_resources/home/people.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
}

.bespoke {
    width: 50%;
    font-weight: 5;
    color: white;
    background-color: #28a745;
    text-align: center;
    height: 50vh;
}

.bespoke p {
    padding-top: 30px;
    padding-bottom: 15px;
    margin-top: 5px 10px;
    border-color: #f4f4f4;
}

.bespoke p a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 0px 15px;
    border: solid;
    border: #f4f4f4;
}

.bespoke p.btn {
    padding: 10px;
    border: solid;
    border: #f4f4f4;
}

.plain-text {
    color: #333;
    padding: 30px;
    text-align: center;
    line-height: 3.5rem;
}

.plain-text p {
    font-size: 1.2rem;
}

.plain-text h3 {
    font-size: 2.8rem;
    font-weight: lighter;
}

/* Flex grid Section */
#grid-container {
    display: grid;
}

.col {
    padding-left: 10px;
}

#grid-container .col {
    width: 100%;
}

.blue-bg p,
h3 {
    line-height: 1.2rem;
    padding: 15px;
}

.blue-bg p a {
    color: #fff;
    text-decoration: none;
}

.blog-container {
    display: flex;
}

.blue-bg {
    height: 50vh;
    width: 50%;
}

.flex {
    height: 50vh;
    width: 50%;
}

.blog-container #bg-with-image {
    background-image: url('../image_resources/home/blog.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
}

.who-we-are {
    margin: 30px;
    line-height: 3rem;
    padding: 20px;
    text-align: center;
    color: #333;
}

.who-we-are h6 {
    font-size: 20px;
}

.who-we-are h2 {
    font-size: 40px;
}

.team-container {
    display: flex;
}


.team-container #team-1,
#team-2,
#team-3 {
    display: flex;
}

.team-container img {
    width: 80%;
    border-radius: 100%;
}

#team-1 .text {
    line-height: 1.5rem;
    margin-top: 10px;
    text-align: center;
}

#team-1 .text p {
    font-size: 20px;
}

#team-1 .text h6 {
    font-size: 15px;
}

.callback {
    display: flex;
    margin: 50px;
}

.callback #client {
    background: url('../image_resources/home/contact.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.form-div {
    background: #f4f4f4;
    width: 100%;
}

.form-div .request {
    padding-top: 30px;
    margin-left: 20px;
}

.form-div input {
    width: 90%;
    padding: 5px;
    margin: 20px;
    display: block;
}

.icons {
    display: flex;
    padding: 20px;
    justify-content: center;
    justify-content: space-evenly;
}

.dark-bg p {
    text-align: center;
}

/* #blog #person-1 {}

#blog #person-2 {}

#blog #person-3 {}

#blog #person-4 {}

#blog #person-5 {}

#blog #person-6 {}

#blog #person-7 {}

#blog #person-8 {} */

/* .white-bg  {
    background-color: #28a745;
    border-radius: 100%;
} */